@model List<AppointmentSystem.Dtos.Appointment.AppointmentResponseDto>

@{
    ViewData["Title"] = "My Appointments";
}

<h2 class="mb-4">My Appointments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Specialization</th>
            <th>Slot Date</th>
            <th>Slot Time</th>
            <th>Appointment Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
                <tr>
                    <td>@appointment.DoctorName</td>
                    <td>@appointment.SpecializationName</td>
                    <td>@appointment.SlotDate.ToString("dd MMM yyyy")</td>
                    <td>@appointment.StartTime.ToString(@"hh\:mm") - @appointment.EndTime.ToString(@"hh\:mm")</td>
                    <td>@appointment.AppointDate.ToString("dd MMM yyyy")</td>
                    <td>
                        <span class="badge @(appointment.Status == SlotStatus.Booked ? "bg-warning text-dark" :
                                        appointment.Status == SlotStatus.Completed ? "bg-secondary" :
                                        appointment.Status == SlotStatus.Cancelled ? "bg-danger" :
                                        "bg-success")">
                        @appointment.Status
                        </span>
                    </td>
                        <td>
                  
                    <td>
                    @if (appointment.Status == SlotStatus.Booked && DateTime.Now < appointment.SlotDate.Add(appointment.StartTime))
                    {
                                <form asp-action="CancelAppointment" asp-controller="Patient" method="post">
                                    <input type="hidden" name="appointmentId" value="@appointment.AppointmentId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
                                </form>
                    }
                    else
                    {
                                <span class="text-muted">N/A</span>
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
