@using AppointmentSystem.Dtos.Specialization
@model List<SpecializationResponseDto>

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
    <a class="main-color" asp-controller="Admin" asp-action="Dashboard">
        <i class="bi bi-box-arrow-left"></i> Back
    </a>

    <h2 class="main-color text-center flex-grow-1"> Admin Management</h2>

    <a href="@Url.Action("AddSpecialization", "Admin")" class="btn btn-color">Add Specialization</a>
</div>

   

    <table class="table table-bordered mt-3">
        <thead >
            <tr class="main-bg-color text-white">
                 <th>#</th> 
                <th>Specialization Name</th>
                                <th>Actions</th>

           
            </tr>
        </thead>


        <tbody>
            @foreach (var admin in Model)
            {
                        <tr>
                             <td>@admin.SpecializationId</td>
                            <td>@admin.SpecializationName</td>
                          
                            <td>
                                <a asp-action="UpdateSpecialization" asp-controller="Admin" asp-route-id="@admin.SpecializationId" class="btn btn-warning btn-sm">Update</a>
                                     <button class="btn btn-danger btn-sm" onclick="confirmDelete('@admin.SpecializationId')">Delete</button>
                            </td>
                        </tr>
                @* count++; *@
            }
        </tbody>
    </table>
</div>
<script>
    
    // Replace the previous history entry (Create Doctor page) with Admin Dashboard
    function confirmDelete(userId) {
        Swal.fire({
            title: "Are you sure?",
            text: "This action cannot be undone!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/DeleteSpecialization?id=" + userId;
            }
        });

    }

</script>